{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module",
        "ecmaVersion": "latest"
    },
    "extends": ["eslint:recommended", "prettier"],
    "plugins": ["react", "prettier", "import-jsx"],
    "rules": {
        "prettier/prettier": "error",
        "interface-name-prefix": "off",
        "explicit-function-return-type": "off",
        "explicit-module-boundary-types": "off",
        "no-unused-vars": "warn",
        "consistent-type-definitions": "off",
        "no-undef": "error",
        "no-use-before-define": "error"
    },
    "overrides": [
        {
            "files": ["*.ts", "*.js"],
            "rules": {
                "no-shadow": "off",
                "no-undef": "off",
                "semi": 0
            }
        }
    ],
    "ignorePatterns": ["node_modules/"],
    "settings": {
        "react": {
            "version": "latest"
        }
    }
}
